.Home{
    background: #f4f4f4;   
}

.home-hero{
    
    .home-hero-content{
        padding: 7rem;
        color:#0D217A;
        p{
            color: #3E83C7;
        }
        button{
            width: 100px;
            background-color: #0f5fc2;
            color: #ffffff;
            outline: none;
            border: none;
            padding: 8px;
            border-radius: 3px;
}
    }
}
.home-info{
    padding: 7rem;
    .home-info-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 60px;

    }
    .home-info-box {
        background-color: #ffffff;
        width: 440px;
        height: 300px;
        border-radius:6px;
        .home-info-box-in{
            text-align: center;
            padding: 20px;
            text-align: center;
            width: 100%;
            height: 100%;
            .home-info-box-content{
                padding: 5px;
                text-align: left;
            }
        }
    }
}