@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.myNav {
    padding: 30px 60px;
}
.Header{
    width: 100%;
    background: linear-gradient(1.02deg, #b9d6f0 -25.23%, #b9d6f0 75.91%);
}

.navbar_login {
    padding: 8px 50px;
    border-radius: 8px;
    background-color: var(--navbar-login-button-blue) !important;
    color: #ffffff;
    font-size: 17px;
    outline: none;
    border: none;
}

.nav_menu {
    font-family: "Montserrat", serif;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none !important;
        text-decoration: none !important;
        list-style: none !important;
        li{
            padding: 10px 50px;
            font-size: 21px;
            font-weight: 600;
            color: black !important;
        }
    }
}